<template>
  <div class="w-full">
    <div class="flex flex-col items-center justify-center pt-6">
      <form
        class="bg-white shadow-md rounded w-1/3 h-auto mb-4"
        @submit.prevent="OnSubmit"
      >
        <div class="mb-4 flex flex-col items-start px-8">
          <label
            :for="nombre"
            class="block text-gray-700 text-sm font-bold mb-2 pt-1"
            >Nombre</label
          >
          <input
            type="text"
            v-model="data.nombre"
            class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 focus:outline-none focus:border-blue-700 transition-colors duration-200"
          />
          <div
            v-if="isSubmited && !$v.data.nombre.required"
            class="bg-red-100 transition duration-200 border w-full mt-2 border-red-400 text-red-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <strong class="font-bold">Error! </strong>
            <span class="block sm:inline">Este campo es requerido</span>
          </div>
          <div
            v-if="isSubmited && !$v.data.nombre.minLength"
            class="bg-yellow-100 transition duration-200  border w-full mt-2 border-yellow-400 text-yellow-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <strong class="font-bold">Error! </strong>
            <span class="block sm:inline"
              >Este campo debe tener minimo 2 caracteres</span
            >
          </div>
        </div>
        <div class="mb-4 flex flex-col items-start px-8">
          <label
            :for="apellidos"
            class="block text-gray-700 text-sm font-bold mb-2 pt-1"
            >Apellidos</label
          >
          <input
            type="text"
            v-model="data.apellidos"
            class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 focus:outline-none focus:border-blue-700 transition-colors duration-200"
          />
          <div
            v-if="isSubmited && !$v.data.apellidos.required"
            class="bg-red-100 transition duration-200 border w-full mt-2 border-red-400 text-red-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <strong class="font-bold">Error! </strong>
            <span class="block sm:inline">Este campo es requerido</span>
          </div>
          <div
            v-if="isSubmited && !$v.data.apellidos.minLength"
            class="bg-yellow-100 transition duration-200  border w-full mt-2 border-yellow-400 text-yellow-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <strong class="font-bold">Error! </strong>
            <span class="block sm:inline"
              >Este campo debe tener minimo 2 caracteres</span
            >
          </div>
        </div>
        <div class="px-8 pb-4 flex flex-col items-start">
          <label
            for="biografia"
            class="block text-gray-700 text-sm font-bold mb-2 pt-1"
            >Biografia</label
          >
          <div class="w-full">
            <textarea
              name="biografia"
              cols="30"
              v-model="data.biografia"
              rows="10"
              class="shadow shadow-md border border-gray-300 rounded w-full focus:border-blue-700 transition-colors duration-200"
            ></textarea>
            <div
              v-if="isSubmited && !$v.data.biografia.required"
              class="bg-red-100 mt-2 transition duration-200 border border-red-400 text-red-700 px-4 py-4 rounded relative"
            >
              <Strong class="font-bold">Error!</Strong>
              <span class="block sm:inline">Este campo es requerido</span>
            </div>
            <div
              v-if="isSubmited && !$v.data.biografia.minLength"
              class="bg-yellow-100 transition duration-200  border w-full mt-2 border-yellow-400 text-yellow-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <strong class="font-bold">Error! </strong>
              <span class="block sm:inline"
                >Este campo debe tener minimo 10 caracteres</span
              >
            </div>
          </div>
          <div class="flex flex-row pt-4">
            <label for="hombre" class="inline-flex pr-2">
              <input
                type="radio"
                value="hombre"
                class="mr-2"
                v-model="data.genero"
              />
              Hombre
            </label>
            <label for="hombre" class="inline-flex pr-2">
              <input
                type="radio"
                value="mujer"
                class="mr-2"
                v-model="data.genero"
              />
              Mujer
            </label>
            <label for="hombre" class="inline-flex">
              <input
                type="radio"
                value="otro"
                class="mr-2"
                v-model="data.genero"
              />
              Otro
            </label>
          </div>

          <div class="pt-4">
            <button
              class="text-sm text-white font-semibold bg-green-700 rounded py-2 px-4 transition hover:bg-blue-600 ease-in-out duration-200 transform hover:-translate-y-1 hover:scale-110"
            >
              ENVIAR
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
export default {
  name: "FormularioComponent",

  props: ["data"],
  data() {
    return {
      isSubmited: false
    };
  },
  methods: {
    OnSubmit() {
      this.$emit("saveUser", this.data);

      this.isSubmited = true;
      this.$v.$touch(); //* para cuando se toca el campo
      if (this.$v.$invalid) return false; //en caso de que sea invalido que regrese algo
      alert("validacion pasada"); // si la pasa entonces todo bien, hara cualquier cosa
    }
  },
  validations: {
    data: {
      nombre: {
        required,
        minLength: minLength(2)
      },
      apellidos: {
        required,
        minLength: minLength(2)
      },
      biografia: {
        required,
        minLength: minLength(10)
      }
    }
  }
};
</script>

<style></style>
