<template>
  <div class="mb-4 flex flex-col items-start px-8">
    <label
      :for="label"
      class="block text-gray-700 text-sm font-bold mb-2 pt-1"
      >{{ label }}</label
    >
    <input
      :type="type"
      v-model="modelo"
      :key="modelo"
      class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 focus:outline-none focus:border-blue-700 transition-colors duration-200"
    />
  </div>
</template>

<script>
export default {
  name: "InputVue",
  props: ["type", "label", "modelo"],

  data() {
    return {
      onChange: false
    };
  }
};
</script>

<style></style>
