<template>
  <div
    class="h-auto w-full flex flex-col py-2 rounded-md pl-2 shadow-none hover:shadow-lg transition duration-300"
  >
    <div class="h-full flex flex-col pr-2 items-center justify-center">
      <img :src="data.avatar" class="h-40 px-2 rounded-full" />
    </div>
    <div class="flex flex-col py-1 items-start">
      <h1 class="text-md font-bold text-2xl">
        {{ data.first_name }} {{ data.last_name }}
      </h1>
      <h3 class="text-gray-600 text-sm py-1">{{ data.email }}</h3>
      <p class="text-gray-700 font-semibold text-xs">Leer más</p>
      <div class="py-2"></div>
      <!-- <button
        @click="pasarPadre(data)"
        class="bg-blue-600 text-white font-semibold rounded px-2 py-1 hover:bg-blue-800 transition-colors duration-200"
      >
        Agregar Favorita
      </button> -->
    </div>
  </div>
</template>

<script>
export default {
  name: "CardUser",
  props: ["data"],
  methods: {
    pasarPadre() {
      this.$emit("favorita", this.data);
    }
  }
};
</script>

<style></style>
