<template>
  <div
    :class="{ 'h-56': data.fecha }"
    class="h-40 w-full flex flex-row py-2 rounded-md pl-2 shadow-none hover:shadow-lg transition duration-300"
  >
    <div class="h-full w-48 flex flex-col pr-2">
      <img
        :src="require('@/assets/images/' + data.image)"
        class="h-32"
        :class="{ 'h-40': data.fecha }"
      />
      <div class="py-2"></div>
      <p v-if="data.fecha" class="text-white font-bold text-md bg-green-600">
        {{ data.fecha }}
      </p>
    </div>
    <div class="flex flex-col py-1 items-start">
      <h1 class="text-md font-bold text-2xl">{{ data.title }}</h1>
      <p v-if="data.creacion" class="text-gray-600 text-xs">
        {{ data.creacion }}
      </p>
      <p class="text-gray-700 font-semibold text-xs">Leer más</p>
      <div class="py-2"></div>
      <button
        @click="pasarPadre(data)"
        class="bg-blue-600 text-white font-semibold rounded px-2 py-1 hover:bg-blue-800 transition-colors duration-200"
      >
        Agregar Favorita
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardArticle",
  props: ["data"],
  methods: {
    pasarPadre() {
      this.$emit("favorita", this.data);
    }
  }
};
</script>

<style></style>
