<template>
  <div>
    <Slide title="Blog" />
    <div class="flex flex-row w-full">
      <SideBar />
      <div class="flex flex-wrap w-full">
        <div v-for="(user, index) in usuarios" :key="index" class="mt-2 px-6">
          <CardUser :data="user" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slide from "../components/Slide";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
import CardUser from "@/components/cards/CardsUsers.vue";
export default {
  name: "Blog",
  components: {
    Slide,
    SideBar,
    CardUser
  },
  data() {
    return {
      usuarios: []
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      axios
        .get("https://reqres.in/api/users?page=1")
        .then(res => {
          if (res.status === 200) {
            this.usuarios = res.data.data;
            console.log(this.usuarios);
          }
        })
        .catch();
    }
  }
};
</script>

<style></style>
