<template>
  <div class="flex pt-32 items-center justify-center font-bold text-2xl">
    <h1>No se encontro el recurso :(</h1>
  </div>
</template>

<script>
export default {
  name: "error404"
};
</script>

<style></style>
