<template>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold pb-2">Peliculas</h1>
    <div class="h-px w-full bg-gray-300"></div>
    <div class="flex flex-row w-full">
      <SideBar />
      <FormularioComponent :data="user" @saveUser="mostrarUsuario" />
    </div>
    <div class="text-2xl font-semibold">
      <!--SE PUEDE REALIZAR ASI Y VER COMO CAMBIA EL NOMBRE <h1>El nombre ingresado es: {{ fullName }}</h1> -->
      <h1 v-if="user != undefined && user.nombre != '' && user.apellidos != ''">
        El nombre ingresado es: {{ user.nombre }} {{ user.apellidos }}
      </h1>
    </div>
  </div>
</template>

<script>
import SideBar from "../components/SideBar.vue";
import FormularioComponent from "@/components/formulario/FormularioComponent.vue";
export default {
  name: "Formulario",
  components: {
    FormularioComponent,
    SideBar
  },
  computed: {
    fullName() {
      return this.user.nombre + " " + this.user.apellidos;
    }
  },
  methods: {
    mostrarUsuario(value) {
      this.user = value;
      console.log(this.user);
    }
  },
  data() {
    return {
      user: {
        nombre: "",
        apellidos: "",
        biografia: "",
        genero: ""
      }
    };
  }
};
</script>

<style></style>
