<template>
  <div class="home">
    <Slide title="Bienvenido al curso de Vue Con Erick pico" />
    <div class="flex flex-row">
      <SideBar />
      <div class="flex flex-col w-8/12">
        <h1 class="text-3xl font-bold pt-5">Últimos artículos</h1>
        <hr />
        <div class="h-4"></div>
        <div v-for="(article, index) in articles" :key="index" class="pb-4">
          <CardArticle :data="article" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slide from "../components/Slide";
import SideBar from "../components/SideBar";
import CardArticle from "../components/cards/CardsArticle";
export default {
  name: "Home",
  components: {
    Slide,
    SideBar,
    CardArticle
  },
  data() {
    return {
      articles: [
        {
          title: "Artículo 1",
          creacion: "5 minutos",
          image: "janis.jpg"
        },
        {
          title: "Artículo 2",
          creacion: "5 minutos",
          image: "noDoubt.jpg"
        },
        {
          title: "Artículo 3",
          creacion: "5 minutos",
          image: "pistols.jpg"
        },
        {
          title: "Artículo 4",
          creacion: "5 minutos",
          image: "queen.jpg"
        },
        {
          title: "Artículo 5",
          creacion: "5 minutos",
          image: "young.jpg"
        }
      ]
    };
  }
};
</script>
