<template>
  <div>
    <h1 class="text-3xl">Este componente sera para pruebas</h1>
    <hr />
    <h1 class="py-4 text-2xl">Reactividad</h1>
    <div class="py-4">
      <input
        type="text"
        class="border border-gray-600 w-1/3 py-2 rounded text-center"
        v-model="persona.nombre"
      />
    </div>
    <p><strong>Mi nombre es:</strong> {{ persona.nombre }}</p>
    <br />
    <h1 class="py-4 text-2xl">Condicionales</h1>
    <input
      type="number"
      class="border border-gray-600 w-56 py-2 rounded text-center"
      v-model="persona.edad"
    />
    <h1 v-if="persona.edad >= 18">
      <strong class="text-green-700">Eres mayor de edad</strong>
    </h1>
    <h1 v-else>
      <strong class="text-red-700">Debes ser mayor de 18!</strong>
    </h1>
  </div>
</template>

<script>
export default {
  name: "Pagina1",
  data() {
    return {
      persona: {
        nombre: "erick",
        apellido: "pico",
        edad: 24
      }
    };
  }
};
</script>

<style></style>
