<template>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold pb-2">Peliculas</h1>
    <h2 v-if="pelFavorita">
      <Strong>La pelicula favorita: </Strong> {{ pelFavorita }}
    </h2>
    <p>{{ web | Capitalize }}</p>
    <div class="h-px w-full bg-gray-300"></div>
    <div class="py-4"></div>
    <div class="flex flex-col items-center w-1/3">
      <div
        v-for="(pelicula, index) in peliculasMayusculas"
        :key="index"
        class="w-full"
      >
        <CardsArticle :data="pelicula" @favorita="agregarFav" />
        <div class="py-2"></div>
      </div>
    </div>
  </div>
</template>

<script>
import CardsArticle from "../components/cards/CardsArticle";
export default {
  name: "Pagina2",
  components: {
    CardsArticle
  },
  methods: {
    agregarFav(data) {
      this.pelFavorita = data.title;
    }
  },
  computed: {
    peliculasMayusculas() {
      let res = [];
      this.peliculas.map(p => {
        p.title = p.title.toUpperCase();
        res.push(p);
      });
      return res;
    }
  },
  filters: {
    Mayusculas(value) {
      return value.toUpperCase();
    },
    Capitalize(value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  data() {
    return {
      pelFavorita: "",
      web: "www.erickblog.com",
      peliculas: [
        {
          title: "El señor de los anillos I",
          fecha: 2001,
          image: "janis.jpg"
        },
        {
          title: "El señor de los anillos II",
          fecha: 2003,
          image: "noDoubt.jpg"
        },
        {
          title: "El señor de los anillos III",
          fecha: 2005,
          image: "pistols.jpg"
        },
        {
          title: "El hobbit I",
          fecha: 2013,
          image: "queen.jpg"
        },
        {
          title: "El hobbit II",
          fecha: 2015,
          image: "young.jpg"
        }
      ]
    };
  }
};
</script>

<style></style>
