<template>
  <div>
    <div class="h-1 bg-green-500"></div>
    <div class="h-24 bg-white flex items-center justify-between px-16">
      <div class="flex items-center">
        <img src="../assets/logo.png" alt="logo" class="h-20" />
        <h2 class="text-2xl font-semibold">
          Curso<span class="font-light ">Vue</span>
        </h2>
      </div>
      <div>
        <ul class="flex">
          <li class="mr-6">
            <router-link
              to="/home"
              class="text-black transition duration-200 hover:text-green-500"
              active-class="active"
              >Inicio</router-link
            >
          </li>
          <li class="mr-6">
            <router-link
              to="/blog"
              active-class="active"
              class="text-black transition duration-200 hover:text-green-500"
              >Blog</router-link
            >
          </li>
          <li class="mr-6">
            <router-link
              to="/formulario"
              active-class="active"
              class="text-black transition duration-200 hover:text-green-500"
              >Formulario</router-link
            >
          </li>
          <li class="mr-6">
            <router-link
              to="/pagina1"
              active-class="active"
              class="text-black transition duration-200 hover:text-green-500"
              >Pagina 1</router-link
            >
          </li>
          <li class="mr-6">
            <router-link
              active-class="active"
              to="pagina2"
              class="text-black transition duration-200 hover:text-green-500"
              >Pagina 2</router-link
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavBar"
};
</script>

<style>
.active {
  color: #00e93a !important;
}
</style>
