<template>
  <div class=" flex flex-col items-start px-4 py-6 w-3/12">
    <div class="font-bold text-sm bg-gray-300 pt-4 rounded">
      <h1 class="px-10 pb-2">PUEDES HACER ESTO</h1>
      <div class="h-px w-full bg-gray-400"></div>
      <div class="py-4">
        <button
          class="font-semibold text-white py-2 px-3 bg-vue_green pb rounded hover:bg-black hover:text-white transition duration-200"
        >
          CREAR ARTICULO
        </button>
      </div>
    </div>
    <div class="h-6"></div>
    <div class="text-sm bg-gray-300 pt-4 w-8/12 rounded">
      <h1 class=" pb-2 font-bold">BUSCADOR</h1>
      <div class="h-px w-full bg-gray-400"></div>
      <h2 class="text-sm">Encuentra lo que buscas</h2>
      <div class="py-3">
        <input
          type="text"
          class="w-10/12 shadow-inner bg-white hover:shadow-xl transition duration-200"
        />
      </div>
      <div class="pb-3">
        <button class="font-semibold text-white py-2 px-3 bg-black pb rounded">
          CREAR ARTICULO
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideBar"
};
</script>

<style></style>
