<template>
  <div class="slide flex flex-col items-center justify-center">
    <div class="text-white font-bold text-3xl pb-3">
      <h2>
        {{ title }}
      </h2>
    </div>
    <button
      v-if="actualPath === 'home'"
      class="bg-white text-black font-semibold border-gray-500 py-2 px-2 rounded hover:bg-gray-500 hover:text-white transition duration-200"
    >
      <router-link to="/blog">ir al blog</router-link>
    </button>
  </div>
</template>

<script>
export default {
  name: "Slide",
  props: ["title"],
  mounted() {
    this.actualPath = this.$route.path.split("/")[1];
  },
  data() {
    return {
      actualPath: ""
    };
  }
};
</script>

<style>
.slide {
  height: 22em;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(19, 121, 9, 1) 0%,
    rgb(0, 255, 0) 100%
  );
}
</style>
